#title {
  text-align: center;
  margin-top: -20px;
}

#desc {
  margin-top: -10px;
  font-size: 26px;
}

body {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #BDD8EB;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 100px;
}

.form-signin .form-control {
  height: auto;
  padding: 10px;
  font-size: 18px;
}

  #form-desc {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.form-signin input[type="email"] {
  margin-bottom: 5px;
  margin-left: 10px;
}

.form-signin input[type="password"] {
  margin-bottom: 5px;
  margin-left: 39px;
}

form {
  text-align: center;
}

.btn {
  font-size: 18px;
  margin-top: 15px;
  position: center;
}

.footer {
  font-size: 18px;
  margin-top: 230px;
  text-align: center;
}
