.jumbotron {
  text-align: center;
  margin: 0 0 0 0;
}

#desc {
  font-size: 26px;
}


body {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #A0A0A0;
}

.form-signin {
  max-width: 345px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 80px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

  #form-desc {
  font-size: 24px;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 10px;
}

.form-signin input[type="email"] {
  margin-bottom: 5px;
  margin-left: 10px;
}

.form-signin input[type="password"] {
  margin-bottom: 5px;
  margin-left: 39px;
}

.btn {
  margin-top: 10px;
  margin-left: 140px;
}

.footer {
  font-size: 18px;
  margin-top: 260px;
  text-align: center;
}
